<app-header></app-header>


<main id="main">
  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts section-bg" style="background: url(assets/img/deco.jpg);
       background-repeat: no-repeat;
      background-size: 650px;
      background-color: #5b42b0;
      background-position: top right; ">
    <div class="container">

      <div class="row" style="padding: 20px; ">
        <div class="col-md-8" style="
            text-align: left;
            font-weight: 800; margin-top: 80px; margin-bottom: 20px; font-size: 55px; color: #fff;">
          <div style="color: white; text-align: left; ">
            <h2>{{ formation.nom }}</h2>
          </div>
          <div style="border-bottom: #2bc465 1px solid; width: 60px;"></div>

          <div style="font-size: 13px; font-weight: 100; margin-top: 10px;">
            {{ formation.description }}
          </div>

          <div class="row col-lg-12 col-md-6" style="margin-top: 30px;" >
            <div style="width: auto; padding: 10px 20px; background-color:#282a3f;
               color: #fff; font-size: 12px;">
              PRÉSENTATION
            </div>
            <div style="width: 100%;"></div>
            <div style="background-color: #f5f5f7; width: 100%; border-radius: 3px;">
              <div style="background-color: #fff; padding: 10px; ">
                <div class="container" *ngIf="loading">
                  <div class="row" >
                    <div class="col-md-12" style="  font-size: 13px; background-color:#f5f5f7">
                      <div class="col-md-12" style="margin-top: 15px; width: 100%;">
                        <div class="row">
                          <div  style="color: #858585; width: 100%; font-weight: 200; ">

                            <div *ngIf="detailFormations.length == 0">
                              <span style=" margin-left:-5px;
                                            font-weight: 800;  ">
                                  Aucune information supplémentaire sur cette formation
                              </span>
                            </div>


                            <!-- Public visé -->
                            <div *ngIf="publicVise.length != 0" >
                                <span style="font-weight: 800;">
                                 <img src="assets/img/formations/user.png"
                                      style="width: 15px; margin-top: -8px; "> &nbsp;
                                  <span style=" margin-left:-5px">Public visé</span>
                                </span>
                              <ul style="list-style: none; margin-top: 10px ">
                                <li *ngFor="let element of publicVise">
                                  <i class="bx bx-chevron-right" style="color: #2bc465;"></i> {{ element.titre }}
                                </li>
                              </ul>
                            </div>



                            <!-- Objetifs pédagogiques -->
                            <div *ngIf="objectPeda.length != 0 " >
                                <span style="font-weight: 800;">
                                 <img src="assets/img/formations/objectif.png"
                                      style="width: 15px; margin-top: -8px; "> &nbsp;
                                  <span style=" margin-left:-5px">Objetifs pédagogiques</span>
                                </span>
                              <ul style="list-style: none; margin-top: 10px  ">
                                <li *ngFor="let element of objectPeda">
                                  <i class="bx bx-chevron-right" style="color: #2bc465;"></i> {{ element.titre }}
                                </li>
                              </ul>
                            </div>



                            <!-- Contenu et thèmes abordés -->
                            <div *ngIf="contenuTheme.length != 0 " >
                                <span style="font-weight: 800;">
                                 <img src="assets/img/formations/contenu.png"
                                      style="width: 15px; margin-top: -8px; "> &nbsp;
                                  <span style=" margin-left:-5px">Contenu et thèmes abordés</span>
                                </span>
                              <ul style="list-style: none; margin-top: 10px  ">
                                <li *ngFor="let element of contenuTheme">
                                  <i class="bx bx-chevron-right" style="color: #2bc465;"></i> {{ element.titre }}
                                </li>
                              </ul>
                            </div>



                            <!-- Durée -->
                            <div *ngIf="duree.length != 0 " >
                                <span style="font-weight: 800;">
                                 <img src="assets/img/formations/duree.png"
                                      style="width: 15px; margin-top: -3px; "> &nbsp;
                                  <span style=" margin-left:-5px">Durée</span>
                                </span>
                              <ul style="list-style: none; margin-top: 10px  ">
                                <li *ngFor="let element of duree">
                                  <i class="bx bx-chevron-right" style="color: #2bc465;"></i> {{ element.titre }}
                                </li>
                              </ul>
                            </div>



                            <!-- Méthode pédagogique -->
                            <div *ngIf="methodePeda.length != 0 " >
                                <span style="font-weight: 800;">
                                 <img src="assets/img/formations/methode.png"
                                      style="width: 20px; margin-top: -5px; "> &nbsp;
                                  <span style=" margin-left:-5px">Méthode pédagogique</span>
                                </span>
                              <ul style="list-style: none; margin-top: 10px  ">
                                <li *ngFor="let element of methodePeda">
                                  <i class="bx bx-chevron-right" style="color: #2bc465;"></i> {{ element.titre }}
                                </li>
                              </ul>
                            </div>



                            <!-- Modalités d’évaluation -->
                            <div *ngIf="modaliteEva.length != 0 " >
                                <span style="font-weight: 800;">
                                 <img src="assets/img/formations/modalite.png"
                                      style="width: 15px; margin-top: -8px; "> &nbsp;
                                  <span style=" margin-left:-5px">Modalités d’évaluation</span>
                                </span>
                              <ul style="list-style: none; margin-top: 10px  ">
                                <li *ngFor="let element of modaliteEva">
                                  <i class="bx bx-chevron-right" style="color: #2bc465;"></i> {{ element.titre }}
                                </li>
                              </ul>
                            </div>



                            <!-- Validation-->
                            <div *ngIf="validation.length != 0 " >
                                <span style="font-weight: 800;">
                                 <img src="assets/img/formations/validation.png"
                                      style="width: 15px; margin-top: -8px; "> &nbsp;
                                  <span style=" margin-left:-5px">Validation</span>
                                </span>
                              <ul style="list-style: none; margin-top: 10px  ">
                                <li *ngFor="let element of validation">
                                  <i class="bx bx-chevron-right" style="color: #2bc465;"></i> {{ element.titre }}
                                </li>
                              </ul>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>



        </div>

        <div class="col-md-4">
          <div class="col-md-12" style="
                font-size: 12px;
                margin-bottom: 30px; margin-top: 150px;  color: #fff;  ">
            <img src="assets/img/formation/{{ formation.image }}" width="100%" >

            <div style="margin-top: 20px; background-color: #fff; color: #282a3f; ">
              <div style="border-bottom: #858585 dotted 0.5px;  ">
                <div style="padding: 10px;">Fiche technique</div>
              </div>
              <div style="padding: 10px; border-bottom: #858585 dotted 0.5px;">
                <img src="assets/img/formations/lieu.png" style="width: 15px" > Durée
                <span style="float: right;">{{ formation.duree }}</span>
              </div>

              <div style="padding: 10px; border-bottom: #858585 dotted 0.5px;">
                <img src="assets/img/formations/lieu.png" style="width: 15px" > &nbsp;Lieu
                <span style="float: right;">{{ formation.lieu }}</span>
              </div>

              <div style="padding: 10px 50px;">
                <div (click)="inscription()" style="cursor: pointer; padding:10px; background-color: #2bc465; color: #fff;
                  text-align: center; border-radius: 3px; ">inscrivez-vous</div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Counts Section -->

  <!-- ======= Counts Section ======= -->
  <section id="count" class="counts section-bg" style="

    background-color: #f5f5f7;
   ">
    <div class="container">

      <div class="row" >

        <div class="col-md-2"></div>
        <div class="row col-md-8">
          <div class="col-md-12" style="margin-bottom: 10px; font-size: 13px; font-weight: 600;">
            Formation similaire
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="count-box">
              <img src="assets/img/f1.jpg" width="100%" style="border-top-left-radius: 5px;
                border-top-right-radius: 5px; ">
              <div style="padding: 10px; text-align: left;">
                <p style="font-weight: 600; padding-bottom: 5px; border-bottom: 0.5px dashed #ccc;">Finance</p>


                <span style="color:#5b42b0;font-size: 12px; padding-top: 5px;">Durée : 4jours</span>
                <div style="padding: 5px;
                  margin-top: 5px;
                  border-radius: 4px;
                  font-size: 12px;
                  margin-left: auto;
                  margin-right: auto;
                  text-align: center;
                  width: 100px;
                  background-color: #5b42b0;
                  color: #fff; "> Lire plus</div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="count-box">
              <img src="assets/img/f4.jpg" width="100%" style="border-top-left-radius: 5px;
                border-top-right-radius: 5px; ">
              <div style="padding: 10px; text-align: left;">
                <p style="font-weight: 600; padding-bottom: 5px; border-bottom: 0.5px dashed #ccc;">Finance</p>


                <span style="color:#5b42b0;font-size: 12px; padding-top: 5px;">Durée : 4jours</span>
                <div style="padding: 5px;
                  margin-top: 5px;
                  border-radius: 4px;
                  font-size: 12px;
                  margin-left: auto;
                  margin-right: auto;
                  text-align: center;
                  width: 100px;
                  background-color: #5b42b0;
                  color: #fff; "> Lire plus</div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="count-box">
              <img src="assets/img/f3.jpg" width="100%" style="border-top-left-radius: 5px;
                border-top-right-radius: 5px; ">
              <div style="padding: 10px; text-align: left;">
                <p style="font-weight: 600; padding-bottom: 5px; border-bottom: 0.5px dashed #ccc;">Finance</p>


                <span style="color:#5b42b0;font-size: 12px; padding-top: 5px;">Durée : 4jours</span>
                <div style="padding: 5px;
                  margin-top: 5px;
                  border-radius: 4px;
                  font-size: 12px;
                  margin-left: auto;
                  margin-right: auto;
                  text-align: center;
                  width: 100px;
                  background-color: #5b42b0;
                  color: #fff; "> Lire plus</div>
              </div>
            </div>
          </div>


        </div>
        <div class="col-md-2"></div>



      </div>

    </div>
  </section><!-- End Counts Section -->
</main><!-- End #main -->

<app-footer-site></app-footer-site>
