<app-header></app-header>
<main id="main" style="margin-top: 60px;">
  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts section-bg" style="background: url(assets/img/elite.png);
       background-repeat: no-repeat;
      background-size: 900px 1207px; padding: 0;
      background-color: #dedee0;
      background-position: top right; ">
    <div class="container" style="height: 1000px;">
      <div class="row">
        <div class="col-md-5">
          <div  style="color: white; margin-top: 20px; text-align: left;  color: #dc0100; ">
            <div  style="font-size: 65px; font-weight: bold">ELITE  </div>
            <div style="font-size: 20px; margin-top: -10px; margin-left: 4px;

              ">ENTREPRENEUR</div>
            <div style="margin-top: 20px; border-bottom: 1px solid #dc0100; width: 40px; margin-left: 5px; "></div>
          </div>

          <div style="font-size: 11px; width: 80%; margin-top: 30px;">
            <p style="font-size: 12px;">Vous désirez créer votre entreprise ? Vous êtes disposés à
              générer une nouvelle croissance pour votre entreprise ?
              À investir en vous afin d’augmenter la rentabilité de votre
              entreprise ?</p>
            <p style="font-size: 12px;">Alors le programme conçu par Abondance Formation
              nommé « Élite Entrepreneur » est pour vous !</p>

            <p style="font-size: 12px;">Nous vous donnons l’opportunité de profiter de la richesse
              de notre programme ! Il est dispensé par des experts
              expérimentés et qualifiés dans leur domaine.</p>

            <p style="font-size: 12px;">Attestation de fin de parcours à l’issue de la formation.
            </p>
            <p style="font-size: 12px;">Abondance Formation vous garantit une gestion
              strictement confidentielle de vos projets et de vos
              données</p>

          </div>
          <div style="margin-top: 30px;  width: 80%;">
            <div style="color: #dc0100;"><i class="fa fa-user"></i> Public visé</div>
            <div style="margin-top: 20px; font-size: 12px;">
              Toute personne ayant le désir d’apprendre sérieusement et de donner un nouvel élan à son avenir.
            </div>
          </div>


          <div style="margin-top: 30px;  width: 80%;">
            <div style="color: #dc0100;"><i class="fa fa-user"></i> Public visé</div>
            <div style="margin-top: 20px; font-size: 12px;">
              Toute personne ayant le désir d’apprendre sérieusement et de donner un nouvel élan à son avenir.
            </div>
          </div>


          <div style="margin-top: 30px;  width: 80%;">
            <div style="color: #dc0100;"><i class="fa fa-user"></i> Public visé</div>
            <div style="margin-top: 20px; font-size: 12px;">
              Toute personne ayant le désir d’apprendre sérieusement et de donner un nouvel élan à son avenir.
            </div>
          </div>

          <div style="color: #fff; width: 175px; border-radius: 6px; margin-top: 40px;
            font-size: 11px; background-color: #dc0100; padding: 10px 20px;">
            Télécharger bronchure
          </div>

        </div>
      </div>

    </div>

  </section><!-- End Counts Section -->
</main><!-- End #main -->
<app-footer-site></app-footer-site>
