<app-header></app-header>
<main id="main">
  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts section-bg" style="background: url(assets/img/deco1.jpg);
       background-repeat: no-repeat;
      background-size: 100% 350px;
      overflow:visible;
      height: 450px;
      background-color: #5b42b0;
      background-position: top right; ">
    <div class="container" >
      <div class="row" >
        <div class="col-md-12" style="
            text-align: left;  padding: 30px;
            font-weight: 800; margin-top: 80px; margin-bottom: 20px; font-size: 55px; color: #fff;">
          <div style="color: white; text-align: left; ">
            <h2> Nos ngagements</h2>
          </div>
          <div style="border-bottom: #2bc465 1px solid; width: 60px; margin-bottom: 50px; "></div>
        </div>
      </div>
    </div>
  </section><!-- End Counts Section -->



  <!-- ======= new letter eXPERTISE ======= -->
  <section id="services"
           class="services" style="margin-top: -39px;      overflow:visible;  padding: 0px;  background-color: #5b42b0;">
    <div class="row">
      <div class="col-md-4" style="background-color: #5b42b0; height: 350px;">
        <img src="assets/img/engagement/e1.png" style="width: 300px;
          margin-top: -105px; margin-left: 280px;   z-index: 20 !important;
          position: absolute;
  display: block;
          " >

      </div>
      <div class="col-md-8" style="background-color: #ded9ef; height: 350px; padding: 80px 220px; ">
        <div style="font-weight: 900; font-size: 25px; color: #ff9600; padding-bottom: 20px;">Expertise</div>
        <div style="font-size:14px; width:95%">
          Nous sommes résolument tournés vers le développement
          des compétences afin d’offrir à nos stagiaires, partenaires et
          clients un niveau de qualificaon recherché.

        </div>

      </div>
    </div>
  </section>
  <!-- End Services Section -->




  <!-- ======= new letter rELATIONNEL ======= -->
  <section id="services"
           class="services" style=" margin-top: 0px; overflow:visible;  padding: 0px;  background-color: #5b42b0;">
    <div class="row">
      <div class="col-md-8" style="background-color: #d1cae9; height: 350px;  padding: 60px 130px;

           padding-left: 440px;">

        <div style="font-weight: 900; font-size: 25px; color: #d0235b;
            padding-bottom: 20px;">Relationnel</div>
        <div style="font-size:14px; width:100%">
          Nous meons d’abord l’homme au centre de nos acvités .
          Nous croyons que c’est ensemble que nous réussirons à
          construire nos rêves

        </div>


      </div>
      <div class="col-md-4" style="background-color: #5b42b0; height: 350px; ">

        <img src="assets/img/engagement/e2.png" style="width: 300px;
            margin-top: -120px; margin-left: -120px;   z-index: 20 !important;
            position: absolute;
    display: block;
            " >

      </div>
    </div>
  </section>
  <!-- End Services Section -->


  <!-- ======= new letter Section ======= -->
  <section id="services"
           class="services" style="margin-top: -39px;      overflow:visible;  padding: 0px;  background-color: #5b42b0;">
    <div class="row">
      <div class="col-md-4" style="background-color: #5b42b0; height: 350px;">
        <img src="assets/img/engagement/e3.png" style="width: 300px;
          margin-top: -95px; margin-left: 280px;   z-index: 20 !important;
          position: absolute;
  display: block;
          " >

      </div>
      <div class="col-md-8" style="background-color: #ded9ef; height: 350px; padding: 80px 220px; ">
        <div style="font-weight: 900; font-size: 25px; color: #b0c84a; padding-bottom: 20px;">Passion</div>
        <div style="font-size:14px; width:95%">
          Nous sommes fiers de ce que nous accomplissons et c’est
          cee passion que nous transmeons à travers toutes nos
          réalisaons quodiennes

        </div>

      </div>
    </div>
  </section>
  <!-- End Services Section -->




  <!-- ======= new letter Section ======= -->
  <section id="services"
           class="services" style=" margin-top: 0px; overflow:visible;  padding: 0px;  background-color: #5b42b0;">
    <div class="row">
      <div class="col-md-8" style="background-color: #d1cae9; height: 350px;  padding: 80px 130px;

           padding-left: 440px;">

        <div style="font-weight: 900; font-size: 25px; color: #3ab6c9; padding-bottom: 20px;">Reussite</div>
        <div style="font-size:14px; width:95%">
          Obtenir des résultats remarquables : voici la vision que nous
          poursuivons à travers toute notre acvité de formaon, de
          conseils et d’accompagnement.

        </div>


      </div>
      <div class="col-md-4" style="background-color: #5b42b0; height: 350px; ">

        <img src="assets/img/engagement/e4.png" style="width: 300px;
            margin-top: -100px; margin-left: -160px;   z-index: 20 !important;
            position: absolute;
    display: block;
            " >

      </div>
    </div>
  </section>
  <!-- End Services Section -->



  <!-- ======= new letter Section ======= -->
  <section id="services"
           class="services" style="margin-top: -39px;      overflow:visible;  padding: 0px;
     background-color: #5b42b0;">
    <div class="row">
      <div class="col-md-4" style="background-color: #5b42b0; height: 350px;">
        <img src="assets/img/engagement/e5.png" style="width: 300px;
          margin-top: -65px; margin-left: 280px;   z-index: 20 !important;
          position: absolute;
  display: block;
          " >

      </div>
      <div class="col-md-8" style="background-color: #ded9ef; height: 350px; padding: 120px 220px; ">
        <div style="font-weight: 900; font-size: 25px; color: #d14b33; padding-bottom: 20px;">Innovation</div>
        <div style="font-size:14px; width:95%">
          Nous sommes tournés vers l’avenir. Nous meons tous
          nos efforts à la maîtrise des nouvelles technologies pour
          accompagner l’évoluon de notre société.


        </div>

      </div>
    </div>
  </section>
  <!-- End Services Section -->


</main><!-- End #main -->
<app-footer-site></app-footer-site>
