<app-header></app-header>
<main id="main">
  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts section-bg" style="background: url(assets/img/deco1.jpg);
       background-repeat: no-repeat;
      background-size: 100% 350px;
      background-position: top right; ">
    <div class="container">
      <div class="row">
        <div class="col-md-12" style="
            text-align: left;
            font-weight: 800; margin-top: 80px; margin-bottom: 20px; font-size: 55px; color: #fff;">
          <div style="color: white; text-align: left; ">
            <h2> Agenda</h2>
          </div>
          <div style="border-bottom: #2bc465 1px solid; width: 60px; "></div>

          <div style="margin-top: 220px; display: flex; flex-wrap: wrap ; margin-left: 45px; ">

            <div class=" col-md-4 " style="margin: -15px;">

              <div style="font-size: 25px; color:#282a3f; margin-bottom: 20px;
                  text-align: center; font-weight: 900; margin-right: auto; margin-left: auto;">JUIN 2020
              </div>

              <div class="container" style="border-right: 1px solid #ccc; padding: 0px 40px;">
                <div class="row">
                  <div class="col-md-12" style=" margin-bottom: 20px;
                          background-color: #fff; width: 100%; border-radius: 6px;
                          font-size: 13px; color: #282a3f;  ">
                    <div style="text-align: center; font-size: 16px; margin-bottom: 20px; margin-top: 20px;">
                      <i class="fa fa-clock"></i>&nbsp; 22 Juin 2020
                    </div>
                    <div style="

                           background: linear-gradient(90deg, rgb(246, 246, 250) 0%, rgba(219,241,229,1) 35%, rgba(149,249,195,1) 100%);
                            height: 80px; padding: 10px;
                            ">
                      <div style="float: left;">
                        <img src="assets/img/1.jpg" style="width: 65px; height: 65px;
                                margin-right: 10px;
                              border-radius: 50%; border: 1.5px solid #2bc465; ">

                      </div>

                      <div style="font-size: 17px; margin-top: 10px;  line-height: 20px;">
                        Installer et configurer le reseau
                      </div>
                    </div>

                    <div style="font-size: 13px; color:#666; margin-top: 10px; padding: 10px 20px;">
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab id amet ipsum
                    </div>
                    <div style="color: #2bc465; padding: 10px 20px; margin-bottom: 10px;">
                      <div style=" font-weight: 600;">Reseau</div>
                      <div style="float: right; margin-top: -18px;"><i class="fa fa-search"></i></div>
                    </div>
                  </div>


                  <div class="col-md-12" style=" margin-bottom: 20px;
                          background-color: #fff; width: 100%; border-radius: 6px;
                          font-size: 13px; color: #282a3f; padding: 0px;  ">
                    <div style="text-align: center; font-size: 16px; margin-bottom: 20px; margin-top: 20px;">
                      <i class="fa fa-clock"></i>&nbsp; 22 Juin 2020
                    </div>
                    <div style="
                             background: linear-gradient(90deg, rgb(246, 246, 250) 0%, rgba(219,241,229,1) 35%, rgba(149,249,195,1) 100%);
                            height: 80px; padding: 10px;
                            ">
                      <div style="float: left;">
                        <img src="assets/img/1.jpg" style="width: 65px; height: 65px;
                                margin-right: 10px;
                              border-radius: 50%; border: 1.5px solid #2bc465; ">

                      </div>

                      <div style="font-size: 17px; margin-top: 10px;  line-height: 20px;">
                        Installer et configurer le reseau
                      </div>
                    </div>

                    <div style="font-size: 13px; color:#666; margin-top: 10px; padding: 10px 20px;">
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab id amet ipsum
                    </div>
                    <div style="color: #2bc465; padding: 10px 20px; margin-bottom: 10px;">
                      <div style=" font-weight: 600;">Reseau</div>
                      <div style="float: right; margin-top: -18px;"><i class="fa fa-search"></i></div>
                    </div>
                  </div>


                  <div class="col-md-12" style=" margin-bottom: 20px;
                          background-color: #fff; width: 100%; border-radius: 6px;
                          font-size: 13px; color: #282a3f; padding: 0px;  ">
                    <div style="text-align: center; font-size: 16px; margin-bottom: 20px; margin-top: 20px;">
                      <i class="fa fa-clock"></i>&nbsp; 22 Juin 2020
                    </div>
                    <div style="
                             background: linear-gradient(90deg, rgb(246, 246, 250) 0%, rgba(219,241,229,1) 35%, rgba(149,249,195,1) 100%);
                            height: 80px; padding: 10px;
                            ">
                      <div style="float: left;">
                        <img src="assets/img/1.jpg" style="width: 65px; height: 65px;
                                margin-right: 10px;
                              border-radius: 50%; border: 1.5px solid #2bc465; ">

                      </div>

                      <div style="font-size: 17px; margin-top: 10px;  line-height: 20px;">
                        Installer et configurer le reseau
                      </div>
                    </div>

                    <div style="font-size: 13px; color:#666; margin-top: 10px; padding: 10px 20px;">
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab id amet ipsum
                    </div>
                    <div style="color: #2bc465; padding: 10px 20px; margin-bottom: 10px;">
                      <div style=" font-weight: 600;">Reseau</div>
                      <div style="float: right; margin-top: -18px;"><i class="fa fa-search"></i></div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class=" col-md-4 " style="margin: -15px;">

              <div style="font-size: 25px; color:#282a3f; margin-bottom: 20px;
                  text-align: center; font-weight: 900; margin-right: auto; margin-left: auto;">JUIN 2020
              </div>

              <div class="container" style="border-right: 1px solid #ccc; padding: 0px 40px;">
                <div class="row">
                  <div class="col-md-12" style=" margin-bottom: 20px;
                          background-color: #fff; width: 100%; border-radius: 6px;
                          font-size: 13px; color: #282a3f;  ">
                    <div style="text-align: center; font-size: 16px; margin-bottom: 20px; margin-top: 20px;">
                      <i class="fa fa-clock"></i>&nbsp; 22 Juin 2020
                    </div>
                    <div style="

                           background: linear-gradient(90deg, rgb(246, 246, 250) 0%, rgba(219,241,229,1) 35%, rgba(149,249,195,1) 100%);
                            height: 80px; padding: 10px;
                            ">
                      <div style="float: left;">
                        <img src="assets/img/1.jpg" style="width: 65px; height: 65px;
                                margin-right: 10px;
                              border-radius: 50%; border: 1.5px solid #2bc465; ">

                      </div>

                      <div style="font-size: 17px; margin-top: 10px;  line-height: 20px;">
                        Installer et configurer le reseau
                      </div>
                    </div>

                    <div style="font-size: 13px; color:#666; margin-top: 10px; padding: 10px 20px;">
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab id amet ipsum
                    </div>
                    <div style="color: #2bc465; padding: 10px 20px; margin-bottom: 10px;">
                      <div style=" font-weight: 600;">Reseau</div>
                      <div style="float: right; margin-top: -18px;"><i class="fa fa-search"></i></div>
                    </div>
                  </div>


                  <div class="col-md-12" style=" margin-bottom: 20px;
                          background-color: #fff; width: 100%; border-radius: 6px;
                          font-size: 13px; color: #282a3f; padding: 0px;  ">
                    <div style="text-align: center; font-size: 16px; margin-bottom: 20px; margin-top: 20px;">
                      <i class="fa fa-clock"></i>&nbsp; 22 Juin 2020
                    </div>
                    <div style="
                             background: linear-gradient(90deg, rgb(246, 246, 250) 0%, rgba(219,241,229,1) 35%, rgba(149,249,195,1) 100%);
                            height: 80px; padding: 10px;
                            ">
                      <div style="float: left;">
                        <img src="assets/img/1.jpg" style="width: 65px; height: 65px;
                                margin-right: 10px;
                              border-radius: 50%; border: 1.5px solid #2bc465; ">

                      </div>

                      <div style="font-size: 17px; margin-top: 10px;  line-height: 20px;">
                        Installer et configurer le reseau
                      </div>
                    </div>

                    <div style="font-size: 13px; color:#666; margin-top: 10px; padding: 10px 20px;">
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab id amet ipsum
                    </div>
                    <div style="color: #2bc465; padding: 10px 20px; margin-bottom: 10px;">
                      <div style=" font-weight: 600;">Reseau</div>
                      <div style="float: right; margin-top: -18px;"><i class="fa fa-search"></i></div>
                    </div>
                  </div>


                  <div class="col-md-12" style=" margin-bottom: 20px;
                          background-color: #fff; width: 100%; border-radius: 6px;
                          font-size: 13px; color: #282a3f; padding: 0px;  ">
                    <div style="text-align: center; font-size: 16px; margin-bottom: 20px; margin-top: 20px;">
                      <i class="fa fa-clock"></i>&nbsp; 22 Juin 2020
                    </div>
                    <div style="
                             background: linear-gradient(90deg, rgb(246, 246, 250) 0%, rgba(219,241,229,1) 35%, rgba(149,249,195,1) 100%);
                            height: 80px; padding: 10px;
                            ">
                      <div style="float: left;">
                        <img src="assets/img/1.jpg" style="width: 65px; height: 65px;
                                margin-right: 10px;
                              border-radius: 50%; border: 1.5px solid #2bc465; ">

                      </div>

                      <div style="font-size: 17px; margin-top: 10px;  line-height: 20px;">
                        Installer et configurer le reseau
                      </div>
                    </div>

                    <div style="font-size: 13px; color:#666; margin-top: 10px; padding: 10px 20px;">
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab id amet ipsum
                    </div>
                    <div style="color: #2bc465; padding: 10px 20px; margin-bottom: 10px;">
                      <div style=" font-weight: 600;">Reseau</div>
                      <div style="float: right; margin-top: -18px;"><i class="fa fa-search"></i></div>
                    </div>
                  </div>
                </div>
              </div>

            </div>


            <div class=" col-md-4 " style="margin: -15px;">

              <div style="font-size: 25px; color:#282a3f; margin-bottom: 20px;
                  text-align: center; font-weight: 900; margin-right: auto; margin-left: auto;">JUIN 2020
              </div>

              <div class="container" style="border-right: 1px solid #ccc; padding: 0px 40px;">
                <div class="row">
                  <div class="col-md-12" style=" margin-bottom: 20px;
                          background-color: #fff; width: 100%; border-radius: 6px;
                          font-size: 13px; color: #282a3f;  ">
                    <div style="text-align: center; font-size: 16px; margin-bottom: 20px; margin-top: 20px;">
                      <i class="fa fa-clock"></i>&nbsp; 22 Juin 2020
                    </div>
                    <div style="

                           background: linear-gradient(90deg, rgb(246, 246, 250) 0%, rgba(219,241,229,1) 35%, rgba(149,249,195,1) 100%);
                            height: 80px; padding: 10px;
                            ">
                      <div style="float: left;">
                        <img src="assets/img/1.jpg" style="width: 65px; height: 65px;
                                margin-right: 10px;
                              border-radius: 50%; border: 1.5px solid #2bc465; ">

                      </div>

                      <div style="font-size: 17px; margin-top: 10px;  line-height: 20px;">
                        Installer et configurer le reseau
                      </div>
                    </div>

                    <div style="font-size: 13px; color:#666; margin-top: 10px; padding: 10px 20px;">
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab id amet ipsum
                    </div>
                    <div style="color: #2bc465; padding: 10px 20px; margin-bottom: 10px;">
                      <div style=" font-weight: 600;">Reseau</div>
                      <div style="float: right; margin-top: -18px;"><i class="fa fa-search"></i></div>
                    </div>
                  </div>


                  <div class="col-md-12" style=" margin-bottom: 20px;
                          background-color: #fff; width: 100%; border-radius: 6px;
                          font-size: 13px; color: #282a3f; padding: 0px;  ">
                    <div style="text-align: center; font-size: 16px; margin-bottom: 20px; margin-top: 20px;">
                      <i class="fa fa-clock"></i>&nbsp; 22 Juin 2020
                    </div>
                    <div style="
                            background: linear-gradient(90deg, rgb(246, 246, 250) 0%, rgba(219,241,229,1) 35%, rgba(149,249,195,1) 100%);
                            height: 80px; padding: 10px;
                            ">
                      <div style="float: left;">
                        <img src="assets/img/1.jpg" style="width: 65px; height: 65px;
                                margin-right: 10px;
                              border-radius: 50%; border: 1.5px solid #2bc465; ">

                      </div>

                      <div style="font-size: 17px; margin-top: 10px;  line-height: 20px;">
                        Installer et configurer le reseau
                      </div>
                    </div>

                    <div style="font-size: 13px; color:#666; margin-top: 10px; padding: 10px 20px;">
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab id amet ipsum
                    </div>
                    <div style="color: #2bc465; padding: 10px 20px; margin-bottom: 10px;">
                      <div style=" font-weight: 600;">Reseau</div>
                      <div style="float: right; margin-top: -18px;"><i class="fa fa-search"></i></div>
                    </div>
                  </div>


                  <div class="col-md-12" style=" margin-bottom: 20px;
                          background-color: #fff; width: 100%; border-radius: 6px;
                          font-size: 13px; color: #282a3f; padding: 0px;  ">
                    <div style="text-align: center; font-size: 16px; margin-bottom: 20px; margin-top: 20px;">
                      <i class="fa fa-clock"></i>&nbsp; 22 Juin 2020
                    </div>
                    <div style="
                             background: linear-gradient(90deg, rgb(246, 246, 250) 0%, rgba(219,241,229,1) 35%, rgba(149,249,195,1) 100%);
                            height: 80px; padding: 10px;
                            ">
                      <div style="float: left;">
                        <img src="assets/img/1.jpg" style="width: 65px; height: 65px;
                                margin-right: 10px;
                              border-radius: 50%; border: 1.5px solid #2bc465; ">

                      </div>

                      <div style="font-size: 17px; margin-top: 10px;  line-height: 20px;">
                        Installer et configurer le reseau
                      </div>
                    </div>

                    <div style="font-size: 13px; color:#666; margin-top: 10px; padding: 10px 20px;">
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab id amet ipsum
                    </div>
                    <div style="color: #2bc465; padding: 10px 20px; margin-bottom: 10px;">
                      <div style=" font-weight: 600;">Reseau</div>
                      <div style="float: right; margin-top: -18px;"><i class="fa fa-search"></i></div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>


        </div>
      </div>

    </div>
  </section><!-- End Counts Section -->

</main><!-- End #main -->
<app-footer-site></app-footer-site>
