<!-- ======= Hero Section ======= -->
<app-header></app-header>
<section id="hero" class="d-flex align-items-center" style="background: url(assets/img/deco1.jpg);
    background-repeat: no-repeat;
      background-size: 100% 350px;
      background-color: #5c42b0;

      background-position: top right;
  ">
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="
            text-align: left;  margin-left: 20px;
            font-weight: 800;  margin-bottom: 20px; font-size: 55px; color: #fff;">
        <div style="color: white; text-align: left; ">
          <h2 style="font-size: 40px;"> Les solutions<br>
            de financement</h2>
        </div>
        <div style=" margin-top: 20px; border-bottom: #2bc465 1px solid; width: 60px; "></div>

        <div style="margin-top: 20px; font-size: 13px; line-height: 20px; font-weight: 200; width: 50%;">
          Il existe plusieurs dispositifs de financement des formations que l’État français a mis en place.
          Notamment le financement par CPF, par Pôle Emploi ou par fonds privés. Il vous sut de nous
          contacter en remplissant ce formulaire et nous vous accompagnerons dans la recherche de votre
          financement :
        </div>
      </div>
    </div>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container">

      <div class="row" style="margin-top: 0px;">
        <div class="col-lg-1"></div>
        <div class="col-lg-4" style="text-align: center;">
          <div><img src="assets/img/financement/f1.png" style="width: 50px;"></div>
          <div style="color: #b0c84a; padding: 10px; font-size: 12px;">CPF</div>
          <div class="content" style="background-color: #b0c84a; border-radius: 10px;
              color: #282a3f;
             font-size: 11px; text-align: justify;">


            <p style="font-size: 12px;">
              Depuis le 1er janvier 2019, dans le cadre de la loi pour la Liberté
              de choisir son avenir professionnel, le CPF est crédité en euros et
              non plus en heures.
            </p>
            <p style="font-size: 12px;"><u>Qu’est-ce que le compte personnel de formaon ?</u></p>
            <p style="font-size: 12px;">Le Compte personnel de formaon (CPF) permet à toute
              personne acve, dès son entrée sur le marché du travail et
              jusqu’à la date à laquelle elle fait valoir l’ensemble de ses droits
              à la retraite, d’acquérir des droits à la formaon mobilisables
              tout au long de sa vie professionnelle. L’ambion du Compte
              personnel de formaon (CPF) est de contribuer, à l’iniave de
              la personne elle-même, au mainen de l’employabilité et à la
              sécurisaon du parcours professionnel.</p>

            <p style="font-size: 12px;"><u>Qui est concerné par la CPF ?</u></p>

            <p style="font-size: 12px;"> Le compte personnel de formaon (CPF) est ulisable par tout
              salarié, tout au long de sa vie acve, y compris en période de
              chômage, pour suivre une formaon qualifiante ou cerfiante.</p>

            <p>Le CPF a remplacé le droit individuel à la formaon (Dif). Les
              salariés ne perdent pas les heures acquises au tre du Dif.</p>


            <ul style="font-size: 12px;">
              <li>Les salariés, y compris ceux en contrat d’apprenssage ou de
                professionnalisaon, et jusqu’à leur départ en retraite.
              </li>
              <li>Les demandeurs d’emploi.</li>
              <li>Les jeunes sors sans qualificaon du système scolaire.</li>
              <li>Les agents publics.</li>
              <li>Les travailleurs indépendants depuis 2018 (arsans,
                commerçants, micro- entrepreneurs, autoentrepreneur,
                agriculteur, arste auteur…), professions libérales ou
                professions non salariées, et conjoints collaborateurs.
              </li>
            </ul>


            <p style="font-size: 12px;"><u> Pour retrouver votre compte CPF :</u></p>
            <p style="font-size: 12px;"> Rendez-vous sur internet En effet, depuis le 21 novembre
              2019, la plateforme en ligne «MonCompteFormaon » regroupe
              toutes les informaons sur votre CPF : montant disponible en
              euros (ou nombre d’heures pour les agents publics), offre de
              formaons éligibles, par thémaque, région …</p>

            <p style="font-size: 12px;">Un nouveau « service public de la formaon professionnelle »
              100% digital, accessible à cee adresse :
              www.moncompteformaon.gouv.fr ou depuis une applicaon
              mobile à télécharger sur l’App Store ou Google Play.</p>


          </div>
        </div>

        <div class="col-lg-4  " style="text-align: center;">
          <div><img src="assets/img/financement/f2.png" style="width: 50px;"></div>
          <div style="color: #0eb1c1; padding: 10px;  font-size: 12px;">Pôle Emploi</div>
          <div class="content" style="background-color: #0eb1c1;
              color: #282a3f;
             font-size: 11px; text-align: justify;">


            <p style="font-size: 12px;">
              <u>Qu’est-ce que l’AIF ?</u>
            </p>

            <p style="font-size: 12px;">
              Une aide individuelle à la formaon (AIF) peut être aribuée
              afin de financer ou cofinancer les frais pédagogiques des
              formaons suivies par des demandeurs d’emploi.
            </p>

            <p style="font-size: 12px;">
              <u>Comment bénéficier de l’AIF ?</u>
            </p>

            <p style="font-size: 12px;">Vous devez faire une demande de devis auprès d’un organisme
              de formaon en lui fournissant :</p>


            <ul>
              <li>Nom et prénom</li>
              <li>Votre numéro de demandeur d’emploi</li>
            </ul>


            <p style="font-size: 12px;">
              L’organisme de formaon enverra un devis dans votre espace
              « demandeur d’emploi » que vous devrez accepter afin que votre
              conseiller ait l’accès à ce devis.
            </p>
            <p style="font-size: 12px;">
              Ce devis doit être signé 15 jours au moins avant le début de la
              formaon. En cas d’octroi de l’AIF, Pôle emploi, le bénéficiaire
              de la formaon et l’organisme de formaon signent une
              convenon triparte.
            </p>

            <p style="font-size: 12px;">
              <u>Qui peut en bénéficier ?</u>
            </p>


            <ul>
              <li>Les demandeurs d’emploi</li>
              <li>Les personnes en accompagnement CRP/CTP ou CSP
              </li>

            </ul>

            <p style="font-size: 12px;">
              <u>Quelles sont les démarches à suivre ?</u>
            </p>


            <ul style="font-size: 12px;">
              <li>Vous devez faire valider votre projet de formaon par votre
                conseiller avant tout financement possible par Pôle
                emploi. Votre démarche
              </li>
              <li>de formaon doit être cohérente et pernente avec un projet
                de reprise
                d’emploi ou d’acvité.
              </li>
              <li>
                Votre conseiller Pôle emploi validera votre projet au regard du
                contenu, des
                coûts pédagogiques, et de la durée de l’acon de formaon,
                mais aussi
                sur son efficacité pour votre retour à l’emploi.
              </li>
            </ul>

            <p style="font-size: 12px;">
              <u>Quelle est la prise en charge de l’aide ?</u>
            </p>

            <p style="font-size: 12px;">

              L’Aide individuelle à la formaon couvre l’intégralité du coût de
              la formaon restant à votre charge, suite à l’intervenon des
              autres financeurs. Elle est versée directement à l’organisme de
              formaon.
              À savoir : vous pouvez financer vous-même le montant restant à
              votre charge en mobilisant votre Compte personnel de
              formaon

            </p>
          </div>
        </div>

        <div class="col-lg-2  " style="text-align: center;">
          <div><img src="assets/img/financement/f3.png" style="width: 50px;"></div>
          <div style="color: #ff9600; padding: 10px; font-size: 10px;">Pôle Emploi</div>
          <div class="content" style="background-color: #ff9600;
              color: #282a3f;
             font-size: 11px; text-align: justify;">
            Prise en charge totale à vos frais
          </div>
        </div>
        <div class="col-lg-1"></div>
      </div>

    </div>
  </section><!-- End Why Us Section -->


</main><!-- End #main -->
<app-footer-site></app-footer-site>
